.item-container {
    position: fixed;
    z-index: 3000;
    background-color: var(--body-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 640px;
    width: 70%;
    padding: 50px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    
}

.item-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--nav-color);
    font-size: 20px;
    transition: transform 0.3s ease;
}

@media(min-width: 1024px){
    .item-close:hover {
        transform: scale(1.3);
    }
}

.item-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-info-container {
    margin-left: 40px;
    max-width: 50%;
}

.item-info-title {
    font-size: 34px;
    font-weight: 600;
    color: var(--nav-color);
    text-align: center;
}

.item-info-description {
    color: var(--nav-color);
    font-size: 20px;
    margin-top: 16px;
    font-weight: 300;
}

.item-info-price {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    color: var(--nav-color);
    margin-bottom: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 2500;
  transition: opacity 3s ease;
}
.counter-item {
    width: 80px;
    height: 35px;
    border: 1px solid var(--nav-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

.counter-item p {
    color: var(--nav-color);
}

.item-btn {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background: none;
    display: flex;
    align-items: center;
}

@media(min-width: 1024px){
    .item-btn:hover{
        opacity: 1;
        scale: 1.2;
    }
}

.add-btn{
    margin: 0 auto;
    width: 70%;
    cursor: pointer;
    background: none;
    border: 1px solid var(--nav-color);
    color: var(--nav-color);
    border-radius: 30px;
    padding: 7px;
    transition: all 0.2s ease;

}

@media(min-width: 1024px){
    .add-btn:hover{
        background-color: rgb(84, 78, 47);
        color: white;
        
    }
}

.item-btn-container {
    display: flex;
}




/* Адаптируем под разрешение от 1400 до 1600px */
@media (max-width: 1600px) {
    .item-container {
        height: 540px;
        width: 70%;
        padding: 30px;
    }
}

/* Адаптируем под разрешение от 1024 до 1400px */
@media (max-width: 1400px) {
    .item-container {
        height: 440px;
        width: 76%;
        padding: 30px;
    }
}

/* Адаптируем под разрешение от 768 до 1024px */
@media (max-width: 1024px) {
    .item-container {
        height: 400px;
        width: 96%;
    }
    .item-info-title {
        font-size: 28px;
    }
    .item-info-description {
        font-size: 18px;
    }
}

/* Адаптируем под разрешение от 425 до 768px */
@media (max-width: 768px) {
    .item-container {
        height: 300px;
        width: 96%;
        padding: 10px;
        border-radius: 10px;
    }
    .item-info-title {
        font-size: 20px;
    }
    .item-info-description {
        font-size: 14px;
    }
    .item-img-wrapper {
        border-radius: 10px;
    }
    .item-info-container {
        margin-left: 5px;
        max-width: 50%;
    }
}

/* Адаптируем под разрешение до 425px */
@media (max-width: 425px) {
    .item-container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
    }
    .item-info-container {
        margin-left: 0px;
        max-width: 100%;
    }
    .item-info-title {
        font-size: 34px;
    }
    .item-info-description {
        font-size: 20px;
    }
    .item-img-wrapper {
        margin-top: 40px;
    }
}